.notificationBox {
    position: fixed;
    top: 0px;
    left: 25%;
    right: 25%;
    width: 50%;
}
.formContainer{
    width: 60%;
    margin-left: 20%;
}
.headingPersonalInfo{
    font-weight: 600;
    margin-right: 15px;
}
.profileContainer{
    width: 80%;
    margin-left: 10%;
}
.inputBox{
    display: initial !important;
}
.profileImageLogo{
    font-size: 100px;
    text-align: center;
}
.navList :hover{
    color: #337ab7;
    transition: 0.3s;
}