.notificationBox {
    position: fixed;
    top: 0px;
    left: 25%;
    right: 25%;
    width: 50%;
}
.formContainer{
    width: 60%;
    margin-left: 20%;
}
.headingPersonalInfo{
    font-weight: 600;
    margin-right: 15px;
}
.profileContainer{
    width: 80%;
    margin-left: 10%;
}
.inputBox{
    display: initial !important;
}
.profileImageLogo{
    font-size: 100px;
    text-align: center;
}
.navList :hover{
    color: #337ab7;
    transition: 0.3s;
}

.notificationTab{
    margin: 0 auto;
    padding: 5px 10px;
    width: 350px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 7px 6px #aaaaaa;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.notificationTabSuccess{
    background: green;
}

.notificationTabFailed{
    background: red;
}
.notificationContainer{
    position: fixed;
    top: 0;
    z-index: 1031;
    left: 0;
    right: 0;
}