<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="row">
        <div class="col-md-10">
            <h3 style="font-weight: 600; margin-top: 10px;">My Comments</h3>
        </div>
        <div class="col-md-2 text-center">
            <h3 style="font-weight: 600; margin-top: 10px;"><i class="fa fa-star" aria-hidden="true"></i> {{averageRating}}</h3>
        </div>
    </div>
    <hr>

    <div ng-repeat="monthwise in commentsData" class="panel panel-primary filterable" >
        <div class="panel-heading" >
            <div class="row">
                <div class="col-md-12">
                    <div style="width: fit-content;float: left;">
                        <h3 class="panel-title">{{month[monthwise.date.month]}} {{monthwise.date.year}}</h3>
                    </div>
                    <div class="text-center" style="width: fit-content;float: right;min-width: 100px;">
                        <h3 class="panel-title"><i class="fa fa-star" aria-hidden="true"></i> {{monthwise.rating}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <table class="table"  id="analystTable">
            <thead>
            <tr class="filters">
                <th>Comments</th>
                <th style="width: 15%; min-width: 100px;">Date</th>
                <th style="width: 15%; min-width: fit-content;">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in monthwise.comments">
                <td>{{row.comment}}</td>
                <td>{{row.date.day}} {{month[row.date.month]}} {{row.date.year}}</td>
                <td>{{row.rating}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
