<script>
    $('#usersidebar-wrapper').css({left: '250px'});
</script>
<div class="">
    <div class="juniorHeader">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 style="font-weight: 600; margin-top: 10px;">My Tasks</h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div style="margin-top: 10px;">
                    <div style="margin-top: 10px;">
                        <input type="text" ng-model="taskname" name="taskname" class="form-control inputBox" placeholder="Enter Task" style="width: 70%;max-width:300px;margin-right: 5px" autocomplete="off">
                        <!--<input type="text" class="form-control inputBox" ng-model="taskdescription" name="taskdescription" placeholder="taskdescription" style="width: 85px;margin-right: 5px;" autocomplete="off">-->
                        <button class="btn btn-primary" ng-click="addTask(taskname,'')">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="timeline">
        <div  ng-repeat="taskDayWise in tasksData" class="containerTimeline {{taskDayWise.containerSideClassName}}">
            <div class="contentTimeline">
                <div class="taskDay">{{taskDayWise.date.day}} {{month[taskDayWise.date.month]}} {{taskDayWise.date.year}}</div>
                <table style="width: 100%;" id="analystTable">
                    <thead>
                    <tr class="filters">
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in taskDayWise.tasks">
                            <td class="text-left taskName">
                                <span style="font-size: 10px;padding: 5px;">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </span>
                                <span> {{row['name'] | uppercase}}</span>
                            </td>
                            <td class="text-right" style="padding: 0px !important;">
                                <button class="isCompletedButton" ng-click="istaskcompletedToggle(row['_id'],row['iscompleted'], taskDayWise.date)">
                                    <i class="fa fa-check-square-o isCompletedButtonCheck" ng-show="row['iscompleted']" aria-hidden="true"></i>
                                    <i class="fa fa-window-close-o isCompletedButtonCross" ng-hide="row['iscompleted']" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>

